.icon{
    width: 50px;
}
.icon:hover {
    transform: scale(1.2); 
}
.link{
    text-align: -webkit-center;
}
.textLink{
    font-family: 'Roboto-Regular';
    font-size: 12px;
    letter-spacing: 0.39px;
    color: var(--color-gray-dark);
}