<div class="link">
    <div class="icon center-block">
        <a href="https://gitlab.com/LinaArenas/covinoc" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="#C85CE6"
                    d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm2.218 18.616c-.354.069-.468-.149-.468-.336v-1.921c0-.653-.229-1.079-.481-1.296 1.56-.173 3.198-.765 3.198-3.454 0-.765-.273-1.389-.721-1.879.072-.177.312-.889-.069-1.853 0 0-.587-.188-1.923.717A6.799 6.799 0 0 0 12 8.36a6.743 6.743 0 0 0-1.753.235c-1.337-.905-1.925-.717-1.925-.717-.379.964-.14 1.676-.067 1.852a2.707 2.707 0 0 0-.722 1.879c0 2.682 1.634 3.282 3.189 3.459-.2.175-.381.483-.444.936-.4.179-1.413.488-2.037-.582 0 0-.37-.672-1.073-.722 0 0-.683-.009-.048.426 0 0 .46.215.777 1.024 0 0 .405 1.25 2.353.826v1.303c0 .185-.113.402-.462.337a7 7 0 1 1 4.43 0z" />
            </svg>
        </a>
    </div>
    <div class="mt-2 textLink"><span>Link al Repo</span></div>
</div>