.search {
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.23);
}

.searchTerm {
  width: 100%;
  border: 1px solid var(--color-aquamarine-dark);
  border-right: none;
  padding: 5px;
  padding-left: 15px;
  height: 36px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: var(--color-gray);
}

.searchTerm:focus {
  color: var(--color-dark);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--color-aquamarine-dark);
  border-left: none;
  text-align: center;
  color: #fff;
  background: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.icon {
  transform: scaleX(-1);
  display: flex;
}

::placeholder {
  font-family: 'Roboto-Regular';
  letter-spacing: 0.62px;
  color: var(--color-gray-search)
}