<app-navbar></app-navbar>
<app-new-task></app-new-task>
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5">
            <app-list-task ></app-list-task>
        </div>
    </div>
    <div class="repo">
        <app-repository></app-repository>
    </div>
</div>
