@import url('../../../../../assets/sass/fonts.scss');

.new-task {
	background-color: var(--color-aquamarine);
	width: 100vw;
	height: 198px;
}

.save-task {
	background-color: var(--color-white);
	background: var(--color-white);
	border: 0px;
	border-radius: 50px;
	text-align: left;
	padding: 9px 12px 9px 6px;
	font-weight: bold;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	letter-spacing: 1.25px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.47);
	cursor: pointer;
}

.title {
	color: var(--color-white-title);
}

.form-control {
	background: var(--color-transparent);
	border: 0px;
	border-bottom: 2px solid var(--color-white);
	border-radius: 0;
	font-family: 'Roboto-Regular';
	font-size: 18px;
	padding: .5rem 0rem;
}

::placeholder {
	color: var(--color-white-title);
}

.form-control:focus {
	color: var(--color-white);
	background-color: var(--color-transparent);
	border-color: var(--color-white);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--color-transparent);
}

.form-label {
	color: var(--color-white-title);
	font-family: 'Roboto-Regular';
	font-size: 12px;
}

.save-task:hover {
	background: var(--color-gray-button);
}

.taskComplete {
	color: var(--color-white-text);
	font-family: 'Roboto-Regular';
	letter-spacing: 0.5px;
	font-size: 16px;
}

.task {
	text-align: center;
}

.newTask {
	color: var(--color-white-text);
	font-family: 'Roboto-Bold';
	letter-spacing: 0.62px;
	font-size: 20px;
}

.disabled {
	pointer-events: none;
	opacity: 0.8;
}