<div class="row new-task justify-content-center">
	<div class="col-8 d-grid align-items-center">
		<!-- search form -->
		<form [formGroup]="formNewTask" (submit)="createTask()">
			<div class="row ">
				<div class="col-6">
					<h2>
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" stroke="white"
							class="bi bi-plus" viewBox="0 -1 17 17">
							<path stroke-width="0.5"
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg>
						<small class="newTask">Nueva tarea</small>
					</h2>
				</div>
			</div>
			<div class="row  justify-content-center align-items-center">
				<div class="col-6">
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Título</label>
						<input type="text" class="form-control" id="exampleFormControlInput1"
							placeholder=" Ingrese título..." formControlName="title">
					</div>
				</div>
				<div class="col-3 task">
					<label class="taskComplete">Tarea completada <input class="form-check-input" type="checkbox"
							formControlName="state"></label>
				</div>
				<div class="col-3">
					<button type="submit" class="save-task  text-center" [ngClass]="{'disabled':formNewTask.invalid}">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
							class="bi bi-plus" viewBox="0 0 16 16">
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg>
						GUARDAR TAREA
					</button>
				</div>
			</div>
		</form>
		<!-- search form -->
	</div>
</div>