<div>
	<!-- Header Component -->
	<div class="row justify-space-between">
		<div class="col d-flex align-items-center">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#4B9F8E" class="bi bi-list-check"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
				</svg>
			</div>
			<div class="mx-2">
				<h2><small class="listTask">Lista de tareas</small></h2>
			</div>
		</div>
		<!-- Component search -->
		<div class="col-4">
			<app-search></app-search>
		</div>
		<!-- ./Component search -->
	</div>
	<!-- ./Header Component -->
	<!-- Table -->
	<div class="card">
		<div class="px-5">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="title-table">Id</th>
						<th scope="col" class="title-table">Mis tareas</th>
						<th scope="col" class="title-table">Completada</th>
						<th scope="col" class="title-table">Borrar</th>
					</tr>
				</thead>
				<tbody *ngIf="listData && listData.length >0">
					<tr *ngFor="let item of listData;index as idx" class="item-action">
						<td scope="row" class="id">{{item.id}}</td>
						<td class="text-task" [ngClass]="{'subrayado': item.state}">{{item.title}}</td>
						<td class="completed">
							<div class="form-check d-flex justify-content-center">
								<input class="form-check-input" type="checkbox" [checked]="item.state"
									(change)="updateState(item.id)">
							</div>
						</td>
						<td class="remove">
							<div (click)="remove(item.id)">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
									class="bi bi-trash" viewBox="0 0 16 16">
									<path
										d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
									<path fill-rule="evenodd"
										d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
								</svg>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- ./Table -->
	<!-- Paginator -->
	<div class="col d-flex justify-content-center mt-4">
		<div class="mx-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#D0D0D0" stroke="#D0D0D0"
				class="bi bi-chevron-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" stroke-width="1"
					d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
			</svg>
		</div>
		<div class=" d-flex justify-content-center">
			<div class="item one">1</div>
			<div class="item next">2</div>
			<div class="item next">3</div>
			<div class="item next">4</div>
		</div>
		<div class="mx-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#3DB0E3" stroke="#3DB0E3"
				class="bi bi-chevron-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" stroke-width="1"
					d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
			</svg>
		</div>
	</div>
	<!-- ./Paginator -->
</div>
