/* table */
.listTask {
	color: var(--color-green-light);
	font-size: 25px;
	font-family: 'Roboto-Bold';
}

table {
	text-align: center;
	width: 100%;
}

.title-table {
	color: var(--color-green-dark);
	font-family: 'Roboto-Regular';
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 0.62px;
}

.table> :not(caption)>*>* {
	border-bottom-width: 0;
}

thead {
	border-bottom: 2px solid var(--color-gray-table);
}

.text-task {
	text-align: left;
	width: 55%;
	word-wrap: break-word;
	border-bottom: 2px solid var(--color-gray-table) !important;
}

.id {
	width: 15%;
}

.completed {
	width: 10%;
	border-bottom: 2px solid var(--color-gray-table) !important;
}

.remove {
	width: 10%;
}

svg {
	cursor: pointer;

	:hover {
		opacity: 0.5;
	}
}

.subrayado {
	text-decoration: line-through;
}

.card {
	border-top: solid 1px var(--color-white);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.23);
}

// Paginador
.item {
	color: var(--color-white);
	padding: 3px 5px;
	font-size: 14px;
	;
	font-family: 'Roboto-Regular';
	font-weight: 550;
	border-radius: 5px;
	margin: 0px 5px;
	letter-spacing: 0.59px;
	cursor: pointer;
}

.item:hover {
	opacity: 0.7;
}

.one {
	background: var(--color-orange);
}

.next {
	background: var(--color-gray-button);
}