/* You can add global styles to this file, and also import other style files */
@import url('./assets/sass/variables.scss');

.form-check-input:checked {
    background-color: var(--color-green-dark);
    border-color: var(--color-green-dark);
    cursor: pointer;
}
.form-check-input {
    background-color: var(--color-gray-check);
    border-color: var(--color-gray);
    cursor: pointer;
}