:root {
	--color-white: #FFFFFF;
	--color-white-text: #FFFFFFDE;
	--color-white-title: #FFFFFF99;
	--color-black: #000000DE;
	--color-aquamarine: #01CEB6;
	--color-aquamarine-dark: #0EC4C4;
	--color-aquamarine-light: #27DAC5;
	--color-green: #11806A;
	--color-green-dark: #11766A;
	--color-green-light: #4B9F8E;
	--color-orange: #FFC183;
	--color-blue: #3DB0E3;
	--color-gray: #979797;
	--color-gray-light: #00000024;
	--color-gray-dark: #707070;
	--color-gray-button: #D0D0D0;
	--color-gray-table: #EBEBEB;
	--color-gray-check: #EFEFEF;
	--color-gray-search: #BEBABADE;
	--color-gray-border-table: #00000029;
	--color-gray-save-task: #00000033;
	--color_red: #EF0C0C;
	--color-transparent: #ffffff00;
}